.Title {
    font-family: Great Vibes, cursive;
    font-size: 50px;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-top: 35px;
}
.title-link:hover{
    text-decoration: none;
}